<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script data-main="js/index" src="bower_components/requirejs/require.js"></script>
    </head>
    <body>
        <div id="controllerContainer">
            <div id="controller"></div>
        </div>
        <div id="button"></div>
    </body>
</html>
