<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script data-main="javascripts/app" src="bower_components/requirejs/require.js"></script>
</head>
<body>
    <canvas id="obstacleCanvas"></canvas>
    <canvas id="bomberManCanvas"></canvas>
</body>
</html>