body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 100px 0;
}

canvas {
    border: 1px solid;
    height: 550px;
    left: 50%;
    margin-left: -325px;
    position: absolute;
    width: 650px;
}

div#controllerContainer {
    position: relative;
    width: 300px;
    height: 300px;
    background: #eeeeee;
    border-radius: 150px;
}

div#controller {
    position: absolute;
    top: 75px;
    left: 75px;
    width: 150px;
    height: 150px;
    background: #880000;
    border-radius: 75px;
}

div#button {
    background: #880000;
    border-radius: 75px;
    position: absolute;
    height: 150px;
    right: 10%;
    top: 175px;
    width: 150px;
}
